.card-body {
    align-items: center;
    
    strong {
        display: block;
    }
}
.btn-group {
    padding: 10px 30px;
    justify-content: space-between;
    
    .btn {
        flex-grow: 0;
    }
}